<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppProject"
        tools:targetApi="31">
        <activity
            android:name=".user.ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.AppProject"
            android:label="Đổi mật khẩu"
            android:parentActivityName=".user.VerifyCodeActivity"/>
        <activity
            android:name=".user.VerifyCodeActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.AppProject"
            android:label="Xác nhận mã "
            android:parentActivityName=".user.ForgotPasswordActivity"/>
        <activity
            android:name=".user.ForgotPasswordActivity"
            android:exported="false"
            android:label="Quên mật khẩu"
            android:theme="@style/Base.Theme.AppProject"
            android:parentActivityName=".user.LoginActivity"/>
        <activity
            android:name=".user.SaveActivity"
            android:exported="false"
            android:label="Truyện yêu thích "
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/Base.Theme.AppProject" />
        <activity
            android:name=".db.AccountDataActivity"
            android:exported="false"
            android:label="Dữ liệu người dùng"
            android:parentActivityName=".admin.AdminActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".user.DetailChapterActivity"
            android:exported="false"
            android:parentActivityName=".user.DetailComicActivity"
            android:theme="@style/Base.Theme.AppProject" />
        <activity
            android:name=".admin.UpdateGenActivity"
            android:exported="false"
            android:label="Cập nhật Genre"
            android:parentActivityName=".db.GenDataActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".admin.UpdateComicGenreActivity"
            android:exported="false"
            android:label="Cập nhật Comic-Genre"
            android:parentActivityName=".db.Comic_GenreDataActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".db.GenDataActivity"
            android:exported="false"
            android:label="Dữ liệu Genre"
            android:parentActivityName=".admin.AdminActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".db.Comic_GenreDataActivity"
            android:exported="false"
            android:label="Dữ liệu Comic-Genre"
            android:parentActivityName=".admin.AdminActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".admin.AddComic_GenActivity"
            android:exported="false"
            android:label="Thêm dữ liệu Comic-Genre"
            android:parentActivityName=".db.Comic_GenreDataActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".admin.AddGenActivity"
            android:exported="false"
            android:label="Thêm dữ liệu Genre"
            android:parentActivityName=".db.GenDataActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".user.DetailComicActivity"
            android:exported="false"
            android:label="Chi tiết truyện"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/Base.Theme.AppProject" />
        <activity
            android:name=".user.FanpageActivity"
            android:exported="false"
            android:label="Fanpage"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/Base.Theme.AppProject" />
        <activity
            android:name=".user.ProfileActivity"
            android:exported="false"
            android:label="Thông tin"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/Base.Theme.AppProject" />
        <activity
            android:name=".user.RatingActivity"
            android:exported="false"
            android:label="Trang đánh giá"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/Base.Theme.AppProject" />
        <activity
            android:name=".admin.UpdateChapterActivity"
            android:exported="false"
            android:label="Cập nhật Chapter"
            android:parentActivityName=".db.ChapterDataActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".db.ChapterDataActivity"
            android:exported="false"
            android:label="Dữ liệu Chapter"
            android:parentActivityName=".admin.AdminActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".admin.AddChapterActivity"
            android:exported="false"
            android:label="Thêm Chapter"
            android:parentActivityName=".db.ChapterDataActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".user.RegisterActivity"
            android:exported="true"
            android:label="Đăng ký"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/Base.Theme.AppProject" />
        <activity
            android:name=".admin.UpdateComicActivity"
            android:exported="false"
            android:label="Cập nhật Comic"
            android:parentActivityName=".db.ComicDataActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".admin.AddComicActivity"
            android:exported="false"
            android:label="Thêm Comic"
            android:parentActivityName=".db.ComicDataActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".db.ComicDataActivity"
            android:exported="false"
            android:label="Dữ liệu Comic "
            android:parentActivityName=".admin.AdminActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true"
            android:label="Admin"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.LoginActivity"
            android:exported="false"
            android:label="Đăng nhập"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/Base.Theme.AppProject"/>
        <activity
            android:name=".user.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".user.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppProject">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>